<%= form_for @photo, :html => {:multipart => true} do |f| %>

  <%= f.hidden_field :key %>

  <p>
    File: <%= @photo.image_name %>
  </p>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </p>

  <%= f.submit %>

<% end %>
