<h2>A Tumblr of Photos</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Image</th>
  </tr>

<% @photos.each do |photo| %>
  <tr>
    <td><%= photo.name %></td>
    <td><%= photo.description %></td>
    <td><%= image_tag photo.image_url(:thumb).to_s %></td>
    <td><%= link_to "Show", photo %></td>
    <td><%= link_to "Edit", edit_photo_path(photo) %></td>
    <td><%= link_to "Delete", photo, method: :delete, data: { confirm: "Are you sure?" } %></td>
  </tr>
<% end %>
</table>

<%= direct_upload_form_for @uploader do |f| %>
  <p><%= f.file_field :image %></p>
  <p><%= f.submit "Upload Image" %></p>
<% end %>
